.queue-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.75rem 1rem;
  background-color: #f9f9f9;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #ddd;

  .queue-name {
    font-size: 1.25rem;
    font-weight: 600;
    color: #6e6e6e;
    margin: 0;
  }

  .queue-created-at {
    font-size: 0.875rem;
    color: #777;
    font-style: italic;
  }
}

.queue-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  background-color: #eaeaea;
  border-radius: 8px;
  overflow-y: hidden;
  margin: 1rem 0;

  .add-token-button {
    padding: 0.5rem 1rem;
    background-color: #3366cc;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    height: max-content;
  }

  .queue-list {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 0.5rem 0;
    width: 100%;
    margin-left: 1rem;
  }

  .next-token-button {
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    height: max-content;
  }

  .queue-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: max-content;
  }

  .no-tokens-message {
    padding: 1rem 1.5rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #666;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    border: 1px dashed #ccc;
    width: 100%;
    max-width: 300px;
    align-self: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin: auto;
  }
}
